/*
 * Empty Stylesheet file.
 */

.sender {
    -fx-background-color: #d3d3d3;
    -fx-background-radius: 0 200 200 200;
    -fx-background-insets: 5;
    -fx-padding: 10;  
}

.receiver {
    -fx-background-color:  #454762;
    -fx-background-radius: 200 0 200 200;
    -fx-background-insets: 5;
    -fx-padding: 10;  
}

.friendList {
    -fx-background-color:  #454762;
    -fx-background-radius: 30 0 30 0;
}

.requestList {
    -fx-background-color:  #454762;
    -fx-background-radius: 30 0 30 0;
}

.listText {
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 11pt;
    -fx-padding: 10;
}
